<%- include('../partials/header') %>

    <h1>Flights Information</h1>
    <table>
        <thead>
            <tr>
                <th>Airline</th>
                <th>Airport</th>
                <th>Flight No.</th>
                <th>Departs</th>
            </tr>
        </thead>
        <tbody>
            <% flights.forEach(f=> { %>
                <tr>
                    <td>
                        <%= f.airline %>
                    </td>
                    <td>
                        <%= f.airport %>
                    </td>
                    <td>
                        <%= f.flightNo %>
                    </td>
                    <td>
                        <%= f.departs %>
                    </td>
                    <td>
                        <a href="/flights/<%= f._id%>">Details</a>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <a href="flights/new">Add New Flight</a>

    <%- include('../partials/footer') %>